language: go

go:
  - 1.x

sudo: false

git:
  depth: 10

branches:
  only:
    - hugo

install:
  # Hugo - documentation
  - wget -O /tmp/hugo.deb https://github.com/gohugoio/hugo/releases/download/v0.82.0/hugo_0.82.0_Linux-64bit.deb
  - sudo dpkg -i /tmp/hugo.deb

script:
  - cd src && hugo --themesDir themes

deploy:
  - provider: pages
    target_branch: main
    local_dir: public
    edge: true
    skip_cleanup: true
    github_token: ${GITHUB_TOKEN}
    on:
      repo: damienbeaufils/massotherapie-bienetre
      branch: hugo
