<div class="fb-page" data-href='{{ .Get "url" }}' data-tabs="timeline"
     data-width='{{ .Get "width" }}' data-height='{{ .Get "height" }}' data-small-header="true" data-adapt-container-width="true" data-hide-cover="false"
     data-show-facepile="true">
    <blockquote cite='{{ .Get "url" }}' class="fb-xfbml-parse-ignore"><a
            href='{{ .Get "url" }}'>{{ .Get "title" }}</a></blockquote>
</div>

<script>
    if (window.innerWidth < {{ .Get "width" }}) {
        document.getElementsByClassName("fb-page")[0].removeAttribute('data-width');
    }
</script>
